tag: v1.5.210
image: ghcr.io/vfarcic/silly-demo
replicas: 2
autoscaling:
  enabled: false
db:
  enabled: false
  provider: cnpg
ingress:
  host: silly-demo.127.0.0.1.nip.io
  className: nginx
backend:
  enabled: true
frontend:
  enabled: false
  host: silly-demo-frontend.127.0.0.1.nip.io
  tag: v1.5.210
  image: ghcr.io/vfarcic/silly-demo-frontend
