name: ci
run-name: ci
on:
  push:
    branches:
      - main
      - master
      - dagger
jobs:
  build-container-image:
    runs-on: ubuntu-latest
    steps:
      - name: Variables
        run: |
          echo "TAG=1.4.${{ github.run_number }}" >> "$GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: c8n.io
          username: ${{ secrets.C8N_USER }}
          password: ${{ secrets.C8N_SECRET }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.20'
      - name: Install Dagger CLI
        run: cd /usr/local && { curl -L https://dl.dagger.io/dagger/install.sh | sh; cd -; }
      - name: Run Dagger pipeline
        run: dagger run go run dagger/main.go
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Commit changes
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -m "Release ${{ env.VERSION }} [skip ci]"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
